#p1{
   background-color: lightblue; 
   width: 30%;
   height: 3%;
   position: absolute;
   top: 0;
}
#p2{
    background-color: darkblue;
    width: 11.6%;
    height: 3%;
    position: absolute;
    left: 30.5%;
    top: 0;
}
#p3{
    position: absolute;
    top: 60%;
}
#nome{
    position: absolute;
    top: 6%;
}
#nome1{
    width: 700px;
    height: 20px;
    position: absolute;
    left: 200%;
}
#nomeCompleto{
    position: absolute;
    top: 9%;
}
#nomeCompleto1{
    width: 970%;
    height: 20px;
    position: absolute;
    left: 125%;
}

#cpf{
    position: absolute;
    top: 15%;
}
#cpf1{
    width: 700px;
    height: 20px;
    position: absolute;
    left: 245%;
}
#email{
    position: absolute;
    top:19%
}
#email1{
    width: 700px;
    height: 20px;
    position: absolute;
    left: 195%;
}
#website{
    position: absolute;
    top: 23%;
}
#website1{
    width: 700px;
    height: 20px;
    position: absolute;
    left: 145%;
}
#endereco{
    position: absolute;
    top: 27%;
}
#endereco1{
    width: 700px;
    height: 20px;
    position: absolute;
    left: 129%;
}
#bairro{
    position: absolute;
    top: 32%;
}
#bairro1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 174%;
}
#cep{
    position: absolute;
    top:36%;
}
#cep1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 240%;
}
#telefone{
    position: absolute;
    top: 40%;
}
#telefone1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 143%;
}
#data{
    position: absolute;
    top: 44%;
}
#data1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 104%;
}
#celular{
    position: absolute;
    top: 51%;
}
#celular1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 160%;
}
#login{
    position: absolute;
    top: 56%;
}
#login1{
    width: 400px;
    height: 20px;
    position: absolute;
    left: 200%;
}
#cidade{
    position: absolute;
    top: 32%;
    left: 27%;
}
#cidade1{
    width: 221px;
    height: 20px;
    position: absolute;
    left: 110%;
}
#uf{
    position: absolute;
    top: 36%;
    left: 27%;
}
#uf1{
    height: 20px;
    position: absolute;
    left: 230%;
}
#fax{
    position: absolute;
    top: 40%;
    left: 27%;
}
#fax1{
    width: 221px;
    height: 20px;
    position: absolute;
    left: 200%;
}
#sexo{
    position: absolute;
    top: 46.5%;
    left: 27%;
}

#estado{
    position: absolute;
    top: 51%;
    left: 27%;
}
#senha{
    position: absolute;
    top: 56.5%;
    left: 27%;
}
#senha1{
    width: 220px;
    height: 20px;
    position: absolute;
    left: 141%;
}
#j{
    position: absolute;
    top: 67%;
}
    
    

#button{
    position: absolute;
    top: 75%;
    left: 1%;
}
#button1{
    position: absolute;
    top: 75%;
    left: 5%;
}
